{%- capture image_output -%}
  {% include image %}
{%- endcapture -%}

{%- if image_output contains 'error' -%}

  {%- assign new_slug = 'benefit-0'  | append: index | append: '.svg' -%}

  {%- capture image_output -%}

    {% include new_slug %}

  {%- endcapture -%}

{%- endif -%}

<div class="benefit-block bg-lightest-gray sm:flex-1 p-3 pl-24 relative">

  {%- if image_output != blank -%}
    <div class="benefit-block__icon w-20 h-20 flex items-center justify-center p-4 rounded-full bg-white absolute left-0 top-0 ml-3 mt-3">
      <div class="w-full h-full has-svg-icon icon--svg-fill-current text-primary-blue">
        {{ image_output }}
      </div>
    </div>
  {%- endif -%}

  <div class="pl-3 py-1 pr-1">
    {%- if title -%}
      <div class="benefit-block__title mb-3 leading-tight text-xl font-medium text-primary-blue">{{ title }}</div>
    {%- endif -%}

    {%- if content -%}
      <div class="benefit-block__content text-base text-gray-darker font-thin">
        {{ content }}
      </div>
    {%- endif -%}
  </div>

</div>
