<div class="bg-lightest-green pt-8 pb-8 md:pb-4">
    {% comment %}
    {% section 'breadcrumbs' %}
    {% endcomment %}

    <div class="container">
        <div class="row flex-wrap-reverse md:flex-wrap">
            <div class="col w-full md:w-7/12">
                <div class="flex-1">
                    <h1 class="collection-title font-bold leading-none mb-6"> {{ collection.title }} </h1>

                    <div class="rte">
                        {{ collection.description }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

