<button
  type="button"
  class="block absolute right-0 top-0 xl:hidden w-10 h-10 ml-3 relative nav-toggle"
  data-header-nav-toggle
>
  <span class="nav-toggle__icon-bar nav-toggle__icon-bar--first absolute top-1/2 left-1/2 w-7 rounded-lg bg-primary-blue"></span>
  <span class="nav-toggle__icon-bar absolute top-1/2 left-1/2 w-7 rounded-lg bg-primary-blue"></span>
  <span class="nav-toggle__icon-bar nav-toggle__icon-bar--last absolute top-1/2 left-1/2 w-7 rounded-lg bg-primary-blue"></span>

  <span class="sr-only">
    {{ 'layout.header.nav.toggle' | t }}
  </span>
</button>
