<div class="hidden xl:block super-header container py-2 leading-none">

  <div class="flex justify-end">

    <div data-super-header-widgets="">

      <div class="textwidget custom-html-widget hidden">

        <a
          href="/account"
          title="{{ 'layout.customer.account' | t }}"
          class="account-link"
        >

          <span class="account-link__icon">
            {% include 'icon--account.svg' %}
          </span>

          {{ 'layout.customer.account' | t }}
        </a>

      </div>

    </div>

  </div>

</div>
