<h2>
  {{ 'swell.redeem.invited_title' | t }}
</h2>

<div class="hero-content my-4">
  {{ 'swell.redeem.invited_content' | t }}
</div>

<div class="mt-4">
  <a
    class="swell-redemption-link btn btn-primary px-4 py-3"
    data-redemption-option-id="325149"
    href="javascript:void(0)"
  >
    {{ 'swell.redeem.invited_button_text' | t}}
  </a>
</div>
