<h2>
  {{ 'swell.redeem.ineligible_title' | t }}
</h2>

<div class="hero-content my-4">
  {{ 'swell.redeem.ineligible_content_html' | t }}
</div>

<a href="/" class="btn btn-primary-blue px-4 py-2">
  {{ 'swell.redeem.ineligible_button_text' | t }}
</a>
