<div class="container Unauthorized__ctn">
    <h3 class="Unauthorized__msg">Sorry, you don't have access to this store. Please contact support for help.</h3>
</div>

{% style %}
    .Unauthorized__ctn.container {
        min-height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .Unauthorized__msg {
        text-align: center;
    }
{% endstyle %}