<div class="dashboard-header-container">
    <div class="dashboard-header">
        <h1>Hello <br/> <span> {{ customer.name }} </span></h1>
    </div>
    <img src="https://cdn.shopify.com/s/files/1/0552/7103/0961/files/leaves.png?v=1643054967" class="leaves"/>
</div>

{% section 'dashboard-sections' %}

{% section 'dashboard-faqs' %}