{% section 'medical-education-hero' %}
<div class="container">
    <h2>General topics</h2>
    {% section 'general-topics-accordions' %}
    <h2>Pediatric topics</h2>
    {% section 'pediatric-focused-topics-accordions' %}
</div>
{% section 'presenters' %}
